# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
logs/

# Data
!**/alpaca-data-conversation.json
data/

# Editor
.idea
*.swp

# Other
.DS_Store
wordnet/
output/
params_weight/

wandb/

checkpoints/
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# zip or similar compressed files
*.zip
*.tar.gz
*.pth
*.pt
*.bin

# huggingface
=0.19.0

# else
evaluate_all_traditional.sh
test.sh
check_ckpt.py
performance_diagnosis.py