# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
logs/

# Data
!**/alpaca-data-conversation.json
data/

# Editor
.idea
*.swp

# Other
.DS_Store
wordnet/
output/
params_weight/

wandb/

checkpoints/
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# zip or similar compressed files
*.zip
*.tar.gz
*.pth
*.pt
*.bin

# huggingface
=0.19.0

# else
evaluate_all_traditional.sh
test.sh
check_ckpt.py
performance_diagnosis.py
check_weights.py
test_Phi-2_is_ok.py
sfr-vision-language-research^LAVIS/
hybrid.py
log_stage_1.txt
log_stage_2.txt
log_stage_3.txt
log_stage_4.txt
log_pcpmae_stage_1.txt
log_pcpmae_stage_2.txt
log_pcpmae_stage_3.txt
log_pcpmae_stage_4.txt
evaluate/
run_all.sh